*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1100px;
    margin: 0 auto;
    background-color: antiquewhite;
}

.navbar{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
    background-color: darkslategrey;
}

.navlinks{
    text-decoration: none;
    /* border: 1px solid blue; */
    color: white;
    background-color: grey;
    padding: 4px 16px;
    margin: 10px 0;
    border-radius: 5px;
}

.navlinks:hover{
    background-color: red;
    transform: scale(1.2);
}

.container{
    display: flex;
}

.resource-container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 50%;
    height: 50vh;
    margin-top: 1em;
    text-align: center;
    justify-content: space-around;
}

.resource-links{
    text-decoration: none;
    border: 1px solid red;
    width: 25%;
    margin: 0 auto;
    padding: 8px 0 8px 0;
    background-color: grey;
    color: white;
    border-radius: 5px;
    
}

.resource-links:hover{
    background-color: red;
    transform: scale(1.2);
    
}

.placeholder{
    text-align: center;
    margin-top: 2em;
    font-size: 5em;
}